# Extract list of state union territory capitals in India from wikipedia page

#### Import the library to query a website

In [9]:
import urllib.request as urllib2

In [10]:
wiki = "https://en.wikipedia.org/wiki/List_of_state_and_union_territory_capitals_in_India"

In [11]:
page = urllib2.urlopen(wiki)

In [3]:
import requests

In [4]:
r = requests.get("https://en.wikipedia.org/wiki/List_of_state_and_union_territory_capitals_in_India")

In [5]:
r.text[0:500]

'<!DOCTYPE html>\n<html class="client-nojs" lang="en" dir="ltr">\n<head>\n<meta charset="UTF-8"/>\n<title>List of state and union territory capitals in India - Wikipedia</title>\n<script>document.documentElement.className = document.documentElement.className.replace( /(^|\\s)client-nojs(\\s|$)/, "$1client-js$2" );</script>\n<script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":0,"wgPageName":"List_of_state_and_u'

#### Import the library to parse the data from the website

In [6]:
from bs4 import BeautifulSoup

In [7]:
soup = BeautifulSoup(r.text,"html.parser")

In [61]:
#print(soup.prettify())

In [9]:
soup.title.string

'List of state and union territory capitals in India - Wikipedia'

In [10]:
soup.a

In [11]:
soup.script

In [12]:
soup.find_all('title')

#### Find the table from the webpage

In [49]:
tables = soup.find('table', {"class" :'wikitable sortable plainrowheaders'})

In [52]:
records = []

In [55]:
for row in tables.findAll("tr"):
    cells = row.findAll('td')
    states = row.findAll('th')
    if len(cells) ==6:
        Number = cells[0].find(text=True)
        State = cells[0].find(text=True)
        Administrative_capitals = cells[1].find(text=True)
        Legislative_capitals = cells[2].find(text=True)
        Judiciary_capitals = cells[3].find(text=True)
        Year = cells[4].find(text=True)
        Former_capital = cells[5].find(text=True)
        records.append((Number,State,Administrative_capitals,Legislative_capitals,Judiciary_capitals,Year,Former_capital))

In [56]:
import pandas as pd

In [58]:
df = pd.DataFrame(records,columns=['Number','State','Administrative_capitals','Legislative_capitals','Judiciary_capitals','Year','Former_capital'])

In [59]:
df.head()

,Number,State,Administrative_capitals,Legislative_capitals,Judiciary_capitals,Year,Former_capital
0,1,1,Port Blair,Port Blair,Kolkata,1955,Calcutta (1945–1955)
1,2,2,Hyderabad,Amaravati,Hyderabad,1956,Kurnool
2,3,3,Itanagar,Itanagar,Guwahati,1986,
3,4,4,Dispur,Guwahati,Guwahati,1975,Shillong
4,5,5,Patna,Patna,Patna,1912,

In [60]:
df.tail()

,Number,State,Administrative_capitals,Legislative_capitals,Judiciary_capitals,Year,Former_capital
65,32,32,Hyderabad,Hyderabad,Hyderabad,2014,—
66,33,33,Agartala,Agartala,Agartala,1956,—
67,34,34,Lucknow,Lucknow,Allahabad,1938,—
68,35,35,Dehradun,Dehradun,Nainital,2000,—
69,36,36,Kolkata,Kolkata,Kolkata,1947,